header .navbar {
  display: flex;
  justify-content: space-between;
  background-color: beige;
}

header .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
}

.navbar img {
  height: 100px;
  border-radius: 50%;
}

.navbar a:hover {
  color: red;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 30px;
  background-color: brown;
}

.left,
.right {
  width: 48%;
}

.left table {
  border-collapse: collapse;
  background-color: azure;
  width: 100%;
}
.left table th,
.left table td {
  border: 3px solid red;
  font-size: 30px;
  text-align: center;
}

.right form {
  background-color: #f5f5f5;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.right form input[type="text"],
.right form select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 15px;
  border: 2px solid #aaa;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.2s;
}

.right form input[type="text"]:focus,
.right form select:focus {
  border-color: brown;
  outline: none;
}

.right form label {
  font-size: 18px;
  font-weight: bold;
}

.right form input[type="radio"],
.right form input[type="checkbox"] {
  margin-right: 5px;
}

.right form input[type="submit"] {
  background-color: brown;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
  transition: 0.2s;
}

.right form input[type="submit"]:hover {
  background-color: rgb(117, 41, 41);
}

.right form p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
