.navbar header {
  display: flex;

  background-color: bisque;
}

.navbar header ul {
  display: flex;
  list-style: none;
}

.navbar header ul a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
}
.navbar header ul li {
  margin-left: 35%;
  margin-top: 5%;
}

.navbar header img {
  height: 110px;
  border-radius: 55%;
}
.navbar a:hover {
  color: red;
}

table {
  background-color: antiquewhite;
  width: 50%;
  border-collapse: collapse;
  margin-top: 2%;
  font-family: sans-serif;
  font-size: 30px;
}

th,
td {
  border: 3px solid black;
  text-align: center;
}

form {
  background-color: blanchedalmond;
  width: 50%;
  margin-left: 50%;
  margin-top: -10.45%;
  height: 390px;
  padding-left: 270px;
  padding-top: 50px;
}

.right {
  display: flex;
  justify-content: center;
}

.right label,
.right input,
.right select {
  margin-top: 2%;
}
